@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria {
    @include m.contenedor;

    &-imagenes {
        @include m.grid(1, 2rem);

        @include m.telefono {
            @include m.grid(2, 2rem);
        }

        @include m.tablet {
            @include m.grid(3, 2rem);
        }

        @include m.desktop {
            @include m.grid(4, 2rem);
        }

        img {
            height: 20rem;
            object-fit: cover;
            margin: 1rem 0;
        }
    }
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba($color: v.$negro, $alpha: 0.5);

    display: grid;
    place-items: center;

    animation: fadeIn .5s both;

    &.fade-out {
        display: grid;
        animation: fadeOut .5s both;
    }

    img {
        max-width: 100rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}